In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_table('./datasets_2735_4525_S10_question_answer_pairs.txt', names=('ArticleTitle','Question','Answer','DifficultyFromQuestioner','DifficultyFromAnswerer','ArticleFile'),encoding = "ISO-8859-1")

In [3]:
df.head()

,ArticleTitle,Question,Answer,DifficultyFromQuestioner,DifficultyFromAnswerer,ArticleFile
0,ArticleTitle,Question,Answer,DifficultyFromQuestioner,DifficultyFromAnswerer,ArticleFile
1,Alessandro_Volta,Was Alessandro Volta a professor of chemistry?,Alessandro Volta was not a professor of chemis...,easy,easy,S10_set4_a10
2,Alessandro_Volta,Was Alessandro Volta a professor of chemistry?,No,easy,hard,S10_set4_a10
3,Alessandro_Volta,Did Alessandro Volta invent the remotely opera...,Alessandro Volta did invent the remotely opera...,easy,easy,S10_set4_a10
4,Alessandro_Volta,Did Alessandro Volta invent the remotely opera...,Yes,easy,easy,S10_set4_a10

In [4]:
df.drop(['Answer','DifficultyFromQuestioner','DifficultyFromAnswerer','ArticleFile'],axis=1,inplace=True)

In [5]:
df.dropna(inplace=True)

In [21]:
df.shape

(1441, 2)

In [22]:
df.drop_duplicates(inplace=True)

In [25]:
np.savetxt('./200_questions_test.txt', df.ix[200:400].values, fmt='%s', delimiter="\t")

/Users/sanjaykumar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.