In [1]:
import pandas as pd
import numpy as np
from ibm_watson import DiscoveryV1,NaturalLanguageUnderstandingV1
from ibm_cloud_sdk_core.authenticators import IAMAuthenticator
from ibm_watson.natural_language_understanding_v1 import Features, EntitiesOptions, KeywordsOptions,RelationsOptions

In [2]:
df = pd.read_table('./datasets_2735_4525_S10_question_answer_pairs.txt', names=('ArticleTitle','Question','Answer','DifficultyFromQuestioner','DifficultyFromAnswerer','ArticleFile'),encoding = "ISO-8859-1")

In [3]:
df.head()

,ArticleTitle,Question,Answer,DifficultyFromQuestioner,DifficultyFromAnswerer,ArticleFile
0,ArticleTitle,Question,Answer,DifficultyFromQuestioner,DifficultyFromAnswerer,ArticleFile
1,Alessandro_Volta,Was Alessandro Volta a professor of chemistry?,Alessandro Volta was not a professor of chemis...,easy,easy,S10_set4_a10
2,Alessandro_Volta,Was Alessandro Volta a professor of chemistry?,No,easy,hard,S10_set4_a10
3,Alessandro_Volta,Did Alessandro Volta invent the remotely opera...,Alessandro Volta did invent the remotely opera...,easy,easy,S10_set4_a10
4,Alessandro_Volta,Did Alessandro Volta invent the remotely opera...,Yes,easy,easy,S10_set4_a10

In [4]:
df.drop(['Answer','DifficultyFromQuestioner','DifficultyFromAnswerer','ArticleFile'],axis=1,inplace=True)

In [5]:
df.dropna(inplace=True)

In [6]:
df.shape

(1441, 2)

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.shape

(832, 2)

In [9]:
df.head()

       ArticleTitle                                           Question
0      ArticleTitle                                           Question
1  Alessandro_Volta     Was Alessandro Volta a professor of chemistry?
3  Alessandro_Volta  Did Alessandro Volta invent the remotely opera...
5  Alessandro_Volta     Was Alessandro Volta taught in public schools?
7  Alessandro_Volta                    Who did Alessandro Volta marry?

In [10]:
##Put your NLU API Key Below:
authenticator = IAMAuthenticator("NLU_API_KEY_Here")

In [11]:
url = "https://gateway.watsonplatform.net/natural-language-understanding/api"
service = NaturalLanguageUnderstandingV1(version='2018-03-16',authenticator=authenticator)

In [12]:
service.set_service_url(url)

In [13]:
response = service.analyze(
    text=df['Question'].iloc[1],    features={
        
        'relations': {
            'model': '137014ab-f9f0-4f1a-8db0-371697970218'
        },
        'entities':{ 'model': '137014ab-f9f0-4f1a-8db0-371697970218'} #Watson studio model
        }
    ).get_result()

In [14]:
df['Question'].iloc[1]

'Was Alessandro Volta a professor of chemistry?'

In [15]:
response

{'usage': {'text_units': 1, 'text_characters': 46, 'features': 2},
 'relations': [],
 'language': 'en',
 'entities': [{'type': 'human',
   'text': 'Alessandro Volta',
   'disambiguation': {'subtype': ['NONE']},
   'count': 1,
   'confidence': 0.999277},
  {'type': 'profession',
   'text': 'professor',
   'disambiguation': {'subtype': ['NONE']},
   'count': 1,
   'confidence': 0.998283},
  {'type': 'subject',
   'text': 'chemistry',
   'disambiguation': {'subtype': ['NONE']},
   'count': 1,
   'confidence': 0.982997}]}